@import 'normalize';

@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	-ms-border-radius: $radius;
	border-radius: $radius;
}

img {
	width: 100%;
	height: 100%;
}



body {
	background-color: #CECECE;
}